---
//here are imported the components
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
// here are defined all the variables of the astro code

const pageTitle = "About Me";

const identity = {
  firstname: "Franco",
  country: "Argentina",
  occupation: "Teacher",
  hobby: ["programmer", "music", "Study", "3d Printing"],
};

const skills = [
  "html",
  "css",
  "sass",
  "javascript",
  "reactjs",
  "astro",
  "sql",
  "mongodb",
  "nodejs",
];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hi, my name is {identity.firstname}, i'm from {identity.country}</h2>
  <p>
    I´m a {identity.occupation}, and my hobbys are {
      identity.hobby.map((item) => <span>{item} </span>)
    }
  </p>

  <h2>Some skills:</h2>
  <ul>
    {skills.length > 2 && skills.map((skill) => <li>{skill}</li>)}
  </ul>
</BaseLayout>
